.footer{
  padding-top: 10em;
  background-color: #fbfcfe;
  box-shadow: 0 -2px 2px rgba(0,0,0,0.02);
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  z-index: 5;
  position: relative;
  box-sizing: border-box;
  display: block;
}
.footer_copyright{
  padding-bottom: 30px;
  text-align: center;
  color:pink;
}