.home{
  margin-top: 60px;
  margin-bottom: 60px;
}
.anime_image{
  box-shadow:
          0 0 20px 10px #fff,  /* inner white */
          0 0 60px 40px #f0f, /* middle magenta */
          0 0 90px 70px #0ff; /* outer cyan */
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.anime_persname{
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  color:pink;
}
