.header{
  display: flex;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
  background-color: #fbfcfe;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 120px;
  text-align: center;
  color:pink;
}